/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.mainbody {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 15px
}

/* Default container styling */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Default header styling */
.header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    text-align: center;
}


/* Default footer styling */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}